<section id="groups">
    <div class="container-fluid">
        <h1>{{movie.title}}</h1>
        <hr width="100px" color="white">
        <div class="row">
            <div class="col-md-3">
                <div class="img">
                    {{#if movie.img}}
                    <img src="{{movie.img}}" alt="">
                    {{/if}}
                </div>
            </div>