<div class="container">
    <h2>
        {{title}}
    </h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Year</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each movies}}
            <tr>
                <th scope="row">{{_id}}</th>
                <td>{{title}}</td>
                <td>{{year}}</td>
                <td>
                    <a href="#" class="btn btn-success btn-sm">View</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>