<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Catalog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/movies" title="Movies" class="nav-link">Movies</a>
      </li>

      {{#isAuthenticated req}}
      <li class="nav-item">
        <a href="/users/{{req.user.id}}" title="Profile" class="nav-link">Profile</a>
      </li>
      <li class="nav-item">
        <a href="/logout" title="logout" class="nav-link">Logout</a>
      </li>
      {{ else }}
      <li class="nav-item">
        <a href="/login" title="Login" class="nav-link">Login</a>
      </li>
      {{/isAuthenticated}}
    </ul>
  </div>
</nav>