#groups {
  height: 100vh;

  h1,
  .cast,
  .reviews {
    text-align: center;
  }

  /*display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2vw;
  
  */

  div {
    padding: 0.5em;

    img {
      max-width: 250px;
    }
  }
  /*.year {
    margin-top: -410px;
  }*/
}
