.main-page {
  p {
    margin-top: 15px;
  }
  .movies-catalog {
    .item {
      img {
        max-width: 100%;
        border-radius: 5%;
        max-height: 375px;
        margin: 0 auto;
        display: block;
      }
      h3 {
        margin-top: 5px;
        margin-bottom: 0;
      }
      .dark {
        color: darken($primary, 20%);
      }
      padding-bottom: 20px;
    }
  }
}

.slide {
  margin-top: 10px;
  margin-bottom: 10px;
}

//styles for button (edit page)
.btn-create {
  margin-bottom: 10px;
  position: absolute;
  right: 480px;
  top: 60px;
}

.btn-edit,
.btn-save {
  margin-bottom: 10px;
}

.delete-x {
  position: relative;
  bottom: 17px;
  right: 14px;
  color: white;
  opacity: 0.8;

  &:hover {
    text-decoration: none;
  }
}