<!DOCTYPE html>
<html lang="en">
    {{> head }}
    <body>
        {{> admin/header }}
        <div class="container">
            <div class="page-header"></div>
            <div class="messages">
                {{> messages }}
            </div>
            <div class="content">
                {{{ body }}}
            </div>
        </div>
        {{> footer }}
        {{> foot }}
    </body>

</html>